body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 15px;
}

section {
  margin-bottom: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
  color: #000;
}

.info p,
.order p {
  margin: 5px 0;
}

.product-info .row {
  display: flex;
  gap: 20px;
}

.product-info .col-6 {
  flex: 1;
  min-width: 300px;
}

.presentations {
  background-color: #e6e6e6;
  padding: 15px;
  border-radius: 8px;
  margin-top: 20px;
}

.presentations table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.presentations th,
.presentations td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.presentations th {
  background-color: #333;
  color: #fff;
}

.presentations tr:nth-child(even) {
  background-color: #f2f2f2;
}

.orders table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.orders th,
.orders td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.orders th {
  background-color: #333;
  color: #fff;
}

.orders tr:nth-child(even) {
  background-color: #f2f2f2;
}

.addresses {
  background-color: #e6e6e6;
  padding: 15px;
  border-radius: 8px;
  margin-top: 20px;
}

.addresses ul {
  list-style-type: none;
  padding: 0;
}

.addresses .address {
  display: inline-block;
  max-width: 80%;
  margin-right: 15px;
}

.address-actions a {
  color: #333;
  margin-right: 15px;
  text-decoration: none;
  font-size: 16px;
}

.address-actions a:hover {
  color: #000;
}

.addresses button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
}

.addresses button:hover {
  background-color: #000;
}

button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #000;
}
